{% extends 'layouts/application.njk' %}
{% from 'macros/helpers.html' import spriteForLink,sprite %}


{% block content %}

<div class="page__wrapper page__wrapper--black-content page__wrapper--delivery-page page__wrapper--content-page">

  <header data-controller="header" class="header header--with-bg">

    <div class="header__top header__top--white">

      {% include 'components/header/_header-top.njk' %}

    </div>

    <div class="header__container header__container--second-variant">

      <h1 class="header__title">Доставка</h1>

       <div class="header__description">


      </div>

    </div>

    {% include 'components/header/_mobile-menu.njk' %}

  </header>

  <main class="main">

    <section class="conditions section-wrapper section-wrapper--pdt">

      <h2 class="section-title">Условия доставки</h2>
      <div class="container">
        <p>Все заказы, оформленные в нашем магазине доставляются исключительно проверенными курьерскими службами из рук в руки по всей территории РФ. После обработки заказа, на указанный контактный email адрес Вам будет выслан номер для отслеживания отправления.</p>
      </div>

    </section>

    <section class="purchase-returns section-wrapper section-wrapper--pdb section-wrapper--pdt">

      <h2 class="section-title">Возврат</h2>
      <div class="container">
        <p>Согласно закону "О защите прав потребителя" обмен и возврат товара надлежащего качества возможен в течение 14 дней со дня получения заказа.</p>

        <p>Мы принимаем возвраты только при соблюдении следующих правил:</p>

        <ul>
          <li>- товары должны быть новыми и не подвергались носке, стирке или другому воздействию</li>
          <li>- все фирменный бирки производителя и магазина DayNight сохранены и не сорваны</li>
          <li>- обувь должна быть без следов носки, подошва чистая и в идеальном состоянии</li>
        </ul>

        <p>Не подлежат обмену или возврату и будут отправлены обратно покупателю за его счет следующие товары:</p>

        <ul>
          <li>- ювелирные изделия</li>
          <li>- нижнее белье</li>
          <li>- купальники</li>
          <li>- косметика</li>
          <li>- изделия со следами носки</li>
        </ul>

        <h3>Возврат товаров в Санкт-Петербурге</h3>

        <p>В Санкт-Петербурге вернуть или обменять товары можно в наших магазинах в рабочее время. </p>

        <h3>Возврат товаров для клиентов из других городов России</h3>

        <p>Возврат заказов клиентами не из Санкт-Петербурга может быть осуществлен с помощью любой курьерской службы
          по адресу - г. Санкт-Петербург, Малая Посадская улица д.6, Магазин DayNight.
          Телефон для связи: +7 812 234 23 00. (оплата услуг курьерской компании производится за счет клиента)
        </p>

        <p>Обратите внимание: вместе с вещами, которые Вы хотите вернуть, должны быть вложены:</p>

        <ul>
          <li>- заявление на возврат в простой письменной форме (должны быть указаны личные данные покупателя, информация
о возвращаемом товаре и причины возврата)</li>
          <li>- копия паспорта</li>
          <li>- копия чека </li>
        </ul>

        <h3>Возврат денежных средств</h3>

        <p>При возврате товара возмещение денежных средств производится в течение 10 рабочих дней на банковскую карту или
с помощью перевода наличных денежных средств (ст. 22 Закона РФ «О защите прав потребителей»), за исключением покупок, осуществленных за наличный расчет непосредственно в магазине.</p>

        <p>
          Убедительная просьба - о факте возврата сообщать заранее по телефону или на электронный адрес.
После того, как вы отправили вещи, пожалуйста, сообщите номер отправления, чтобы мы могли отследить возврат.
В противном случае интернет-магазин не несет ответственность за возможную потерю Вашего возврата.
        </p>

      </div>

      {% include 'components/_scrollTopBtn.njk' %}

    </section>



  </main>

  {% block footer %}

   {% include 'components/_footer.njk' %}

  {% endblock %}

</div>

{% endblock %}
