{% extends 'layouts/library.njk' %}

{% block library %}
  <div class="page__wrapper page__wrapper--lib-page">

    {% include 'components/utils/library/header.njk' %}
    {% include 'components/utils/library/gui.njk' %}
    {% include 'components/utils/library/buttons.njk' %}
    {% include 'components/utils/library/radiobuttons.njk' %}
    {% include 'components/utils/library/forms.njk' %}
    {% include 'components/utils/library/ungroupedComponents.njk' %}
    {% include 'components/utils/library/news.njk' %}
    {% include 'components/utils/library/footer.njk' %}

  </div>

{% endblock %}
