{% extends 'layouts/application.njk' %}
{% from 'macros/helpers.html' import spriteForLink,sprite %}


{% block content %}

<div class="page__wrapper page__wrapper--black-content page__wrapper--news-page page__wrapper--news-item-page">

  <header data-controller="header" class="header header--with-bg">

    <div class="header__top header__top--white">

      {% include 'components/header/_header-top.njk' %}

    </div>

    <div class="header__container header__container--second-variant">

      <h1 class="header__title">Найдены новые монеты</h1>

       <div class="header__description">

          <a href="news.html" class="link arrow-left">назад</a>

      </div>

    </div>

    {% include 'components/header/_mobile-menu.njk' %}

  </header>

  <main class="main">

    <section class="news-item-content section-wrapper section-wrapper--pdb section-wrapper--pdt">

      <div class="container">

        <p>
          В этой статье пойдет речь о редких юбилейных десятирублевых монетах. Редкими их называют потому, что отчеканили тиражом меньшим, чем было запланировано. Поэтому такие монеты почти не встречаются. Но надо отметить, что другие юбилейные монеты, выпущенные большим тиражом, также в обороте крайне редки.
        </p>

        <h3>САМЫЕ ДОРОГИЕ ЮБИЛЕЙНЫЕ 10 РУБЛЕЙ</h3>

        <p>Среди редких юбилейных десяток нужно отдать предпочтение лишь четырем. Тариф на них самый высокий из группы монет «Российская Федерация», они были выпущены в 2010 году малыми тиражами. Изначально Банк России рассчитывал на выпуск каждой монеты в количестве 10 миллионов штук, но по непонятным причинам это число было уменьшено, что в свою очередь повлекло нумизматов собирать новые коллекции. Возможно, это Банк России преподнес такого рода подарок своим коллекционерам, чтобы без дела не сидели.</p>

        <p>Рассматриваем редкие 10 рублей в порядке увеличения на них цены на аукционах и форумах нумизматов</p>

        <h3>10 РУБЛЕЙ НЕНЕЦКИЙ АВТОНОМНЫЙ ОКРУГ</h3>

        <p>Итак, первая в очереди и менее редкая монета – Ненецкий автономный округ. Среди линии редко встречающихся юбилейных монет ее тираж самый большой – 1 миллион 950 тысяч единиц. На оборотной стороне запечатлен герб автономного округа, а по окружности его окаймляют две пометки: «Российская Федерация» и «Ненецкий автономный округ».</p>

        <p>Курс на данную денежку превышает свой номинал, но значительно меньше по сравнению с остальными тремя редкими юбилейными десятками и составляет от 100 до 350 рублей по разным источникам.</p>

        <div class="fluid-component fluid-component--ltr">
          <div class="fluid-component__inner">
            <div class="fluid-component__images-wr">
              <div class="fluid-component__image-wr"><img src="../images/content/content-9.png" alt="" class="fluid-component__image"></div>
              <div class="fluid-component__image-wr"><img src="../images/content/content-9.png" alt="" class="fluid-component__image"></div>
            </div>

            <div class="fluid-component__content">
              <p>Итак, первая в очереди и менее редкая монета – Ненецкий автономный округ. Среди линии редко встречающихся юбилейных монет ее тираж самый большой – 1 миллион 950 тысяч единиц. На оборотной стороне запечатлен герб автономного округа, а по окружности его окаймляют две пометки: «Российская Федерация» и «Ненецкий автономный округ».</p>
            </div>
          </div>
        </div>

        <p>Время не стоит на месте. Так и юбилейные монеты с течением времени выходят из оборота и приобретают статус редких, несмотря на выпущенное количество. Например, юбилейный рубль с А. С. Пушкиным, или двухрублевая монета с Юрием Гагариным, монеты из группы Министерства практически невозможно встретить в своем портмоне. В обращении они имеются, но стали достаточно редкими, если сравнивать с положением дел пять лет назад. С течением времени, скажем, еще через 5–10 лет, они вовсе выйдут из оборота и пополнят ряды частных коллекций.</p>

        <p>Итак, если в обороте появилась новенькая монета, то нужно воспользоваться моментом и пополнить ею свою коллекцию, иначе потом придется выложить за нее кругленькую сумму, как в случае с юбилейной десятирублевой монетой «Чеченская Республика».</p>

        <img class="full-width-img" src="../images/content/content-10.jpg" alt="">

        <p>Итак, первая в очереди и менее редкая монета – Ненецкий автономный округ. Среди линии редко встречающихся юбилейных монет ее тираж самый большой – 1 миллион 950 тысяч единиц. На оборотной стороне запечатлен герб автономного округа, а по окружности его окаймляют две пометки: «Российская Федерация» и «Ненецкий автономный округ».</p>

        <section class="news-item-slider-wr">
          <div data-controller="news-item-slider" class="news-item-slider">
            <div class="news-item-slider__item"><img src="../images/content/content-11.jpg" alt=""></div>
            <div class="news-item-slider__item"><img src="../images/content/content-11.jpg" alt=""></div>
          </div>
        </section>

        <time class="news-date">17.11.2017</time>

        {% include 'components/_scrollTopBtn.njk' %}

      </div>



    </section>

  </main>

  {% block footer %}

   {% include 'components/_footer.njk' %}

  {% endblock %}

</div>

{% endblock %}
