{% extends 'layouts/application.njk' %}
{% from 'macros/helpers.html' import spriteForLink,sprite %}


{% block content %}

<div class="page__wrapper page__wrapper--personal-cabinet-page">

  <header data-controller="header" class="header header--with-bg header--with-filter">

    <div class="header__top header__top--white">

      {% include 'components/header/_header-top.njk' %}

    </div>

    <div class="header__container header__container--second-variant">

      <h1 class="header__title">Личный кабинет</h1>

       <div class="header__description">
         <p class="header__description-field">Константинов Константин</p>
         <p class="header__description-field">constantin@gmail.com</p>

         <a href="#" class="link-standart link-exit">выйти</a>
      </div>

    </div>

    {% include 'components/header/_mobile-menu.njk' %}

  </header>

  <main class="main">

    <section class="section-wrapper section-wrapper--pdt-no-on-desktop">
      <div data-controller="tabs" class="tabs">
          <p data-target="tabs.heading" data-action="click->tabs#onMobileTabHeadingClick" class="tabs__mobile-heading">Избранное</p>
          <div class="container">
            <ul data-target="tabs.inner" class="tabs__inner">
              <li class="tabs__item"><a href="personalCabinetMyOrders.html" data-action="tabs#onTabsLinkClick" class="link tabs__link ">Мои заказы</a></li>
              <li class="tabs__item"><a href="personalCabinetFavorites.html" data-action="tabs#onTabsLinkClick" class="link tabs__link tabs__link--active">Избранное</a></li>
              <li class="tabs__item"><a href="personalCabinetBasket.html" data-action="tabs#onTabsLinkClick" class="link tabs__link ">Корзина</a></li>
              <li class="tabs__item"><a href="personalCabinetPreferences.html" data-action="tabs#onTabsLinkClick" class="link tabs__link">Настройки</a></li>
            </ul>

          </div>

      </div>

      <section id="favorite" class="favorite catalog-carousel section-wrapper section-wrapper--pdb">
        <h2 class="section-title">Избранное</h2>
        <div class="container container--padding-off">
          <div data-controller="catalog-carousel" class="catalog is-initing">
            <div class="catalog__inner">

              {% include 'components/_catalogItem.njk' %}
              {% include 'components/_catalogItem.njk' %}
              {% include 'components/_catalogItem.njk' %}
              {% include 'components/_catalogItem.njk' %}
              {% include 'components/_catalogItem.njk' %}
              {% include 'components/_catalogItem.njk' %}
              {% include 'components/_catalogItem.njk' %}
              {% include 'components/_catalogItem.njk' %}

            </div>

          </div>
        </div>

      </section>

    </section>

  </main>

  {% block footer %}

   {% include 'components/_footer.njk' %}

  {% endblock %}

</div>

{% endblock %}
