<div class="basket__item">

  <div class="basket__item-inner">
    <a href="#" class="icon-cross"></a>

    <div class="basket__img-wr">
      <img src="../images/content/content-6.png" alt="">
    </div>
    <div class="basket__information-container">

      <a href="catalogItemInner.html" class="link basket__item-heading">США 20 долларов 1905 Империя D 207 </a>

      <div class="basket__item-params">
        <div class="basket__item-param">
          <span class="basket__item-prop">Состояние:</span>
          <span class="basket__item-val">XF</span>
        </div>
        <div class="basket__item-param">
          <span class="basket__item-prop">Год выпуска:</span>
          <span class="basket__item-val">1890</span>
        </div>
        <div class="basket__item-param">
          <span class="basket__item-prop">Материал:</span>
          <span class="basket__item-val">медь</span>
        </div>
        <div class="basket__item-param">
          <span class="basket__item-prop">Вес:</span>
          <span class="basket__item-val">1,28 г</span>
        </div>
        <div class="basket__item-param basket__item-param--state basket__item-param--state-success">
          <span class="basket__item-prop">Статус:</span>
          <span class="basket__item-val">Оплачен</span>
        </div>
        <div class="basket__item-param basket__item-param--price">
          <p class="basket__param-row">
            <span class="basket__item-prop">Стоимость:</span>
            <span class="basket__item-val">559 496 ₽</span>
          </p>
        </div>
      </div>

    </div>

  </div>

</div>
