{% from 'macros/helpers.html' import sprite %}

<footer class="footer">
  <div class="container">

      <div class="footer__inner">
        <p class="copyright">© 2017–2018 Coinsage.ru</p>

        <nav class="nav nav--footer nav--vertical">
          <a href="purchase-rules.html" class="link nav__item">Правила скупки</a>
          <a href="payment.html" class="link nav__item">Оплата</a>
          <a href="delivery.html" class="link nav__item">Доставка</a>
          <a href="news.html" class="link nav__item">Новости</a>
        </nav>

        <div class="socials">
          <a href="#" class="link-as-icon">{{ sprite('icon-insta') }}</a>
          <a href="#" class="link-as-icon">{{ sprite('icon-fb') }}</a>
          <a href="#" class="link-as-icon">{{ sprite('icon-vk') }}</a>
          <a href="#" class="link-as-icon">{{ sprite('icon-telega') }}</a>
        </div>
      </div>


  </div>
</footer>

