<div id="modal-1" style="display:none">

</div>
<div class="modal">
  <div class="modal-inner">
    <a href="#" class="icon-cross" data-modal-close></a>
    <div class="modal-content"></div>
  </div>
</div>

