  <article class="news">
      <a href="newsItem.html" class="news__link">
        <header class="news__header">
          <div class="news__image" style="background-image: url(../images/content/content-1.jpg)"></div>
        </header>
        <div class="news__body">
          <h2 class="news__heading">Найдены новые монеты</h2>
          <p class="news__liner">Если вы посетили антикварную скупку «Золотой город», значит старинные вещи и произведения искусства вам неравнодушны</p>
        </div>
      </a>
  </article>
  <article class="news">
      <a href="newsItem.html" class="news__link">
        <header class="news__header">
          <div class="news__image" style="background-image: url(../images/content/content-2.jpg)"></div>
        </header>
        <div class="news__body">
          <h2 class="news__heading">Найдены новые монеты</h2>
          <p class="news__liner">Если вы посетили антикварную скупку «Золотой город», значит старинные вещи и произведения искусства вам неравнодушны</p>
        </div>
      </a>
  </article>
  <article class="news">
      <a href="newsItem.html" class="news__link">
        <header class="news__header">
          <div class="news__image" style="background-image: url(../images/content/content-2.jpg)"></div>
        </header>
        <div class="news__body">
          <h2 class="news__heading">Найдены новые монеты</h2>
          <p class="news__liner">Если вы посетили антикварную скупку «Золотой город», значит старинные вещи и произведения искусства вам неравнодушны</p>
        </div>
      </a>
  </article>
