<div class="pagination">

  <ul class="pagintaion__inner">
    <li class="pagination__item"><a class="link pagination__link arrow-left" href="#"></a></li>
    <li class="pagination__item"><a class="link pagination__link" href="#">1</a></li>
    <li class="pagination__item"><a class="link pagination__link" href="#">2</a></li>
    <li class="pagination__item"><a class="link pagination__link" href="#">3</a></li>
    <li class="pagination__item"><a class="link pagination__link" href="#">4</a></li>
    <li class="pagination__item"><a class="link pagination__link pagination__link--ellipsis" href="#">...</a></li>
    <li class="pagination__item"><a class="link pagination__link arrow-right" href="#"></a></li>
  </ul>

</div>
