<div data-controller="stepper" class="catalog-item__quantity-value stepper">
  <span data-action="click->stepper#down" class="stepper__side stepper__side--left"></span>
  <input data-target="stepper.input" data-action="input->stepper#validateInput" type="text" class="stepper__side stepper__side--middle" value="0" >
  <span data-action="click->stepper#up" class="stepper__side stepper__side--right"></span>
</div>
