{# <ul data-controller="tabs" data-tabs class="tabs__inner">
  <li class="tabs__item"><a data-action="tabs#onTabClick" data-tab href="#" class="link tabs__link">Спецпредложение</a></li>
  <li class="tabs__item tabs__item--active"><a data-action="tabs#onTabClick" data-tab href="#" class="link tabs__link">Новое</a></li>
  <li class="tabs__item"><a data-action="tabs#onTabClick" data-tab href="#" class="link tabs__link">Курс покупки/продажи</a></li>
</ul> #}
