//Core styles
.catalog__inner {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item-wr {
  width: 50%;
  min-height: 275px;
  margin-bottom: 20px;
  position: relative;
  &:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  &:nth-child(even) {
    border-left: 1px solid var(--gray6);
  }
  @media screen and (min-width: 600px) and (max-width: 768px) {
    width: calc(100% / 3);
    &:nth-child(even) {
      border: 0
    }
    &:nth-child(3n + 2) {
      border-left: 1px solid var(--gray6);
      border-right: 1px solid var(--gray6);
    }
  }
  @media (--xl-sm) {
    .catalog-item {
      padding-left: 15px;
      padding-right: 15px;
    }
    .catalog-on-hover-item {
      display: none;
    }
  }
  @media (--m) {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 50px;
    &:not(:first-of-type) {
      border-left: 1px solid var(--gray6);
    }

    &:nth-child(4n + 1) {
      border-left: 0;
    }

    &:hover {
      .catalog-on-hover-item {
        visibility: visible;
        opacity: 1;
      }
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }
  @media (--xl) {
    .catalog-item {
      padding-left: 60px;
      padding-right: 60px;
    }
    &:nth-last-child(-n+4),
    &:nth-last-child(-n+2) {
      .catalog-on-hover-item {
        bottom: 0;
        top: unset;
      }
    }
  }
}

.catalog-item {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  position: relative;
  .link-as-icon {
    position: absolute;
    top: 0;
    svg {
      fill: var(--gold);
    }
  }
  .icon-favorite {
    right: 8px;
  }
  .icon-basket {
    right: 10px;
    top: 35px;
  }
}

.catalog-on-hover-item {
  position: absolute;
  visibility: hidden;
  z-index: 999;
  height: 555px;
  opacity: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  background-color: var(--white);
  top: 0;
  width: calc(100% - 24px);
  height: 555px;
  left: 12px;
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
  align-items: center;
  transition: 0.2s ease-in-out;
  transition-property: visibility opacity;

  .catalog-item__heading {
    font-weight: 300;
    color: var(--gold);
    margin-bottom: 10px;
  }

  .catalog-item__price--new-price {
    color: var(--gold);
  }

  .catalog-item__rare {
    margin-bottom: 15px;
  }

  .catalog-item__img {
    margin-bottom: 0;
  }

  .catalog-item__slider-container {
    position: relative;
    margin-bottom: 45px;
  }

  button {
    padding: 0;
    width: 165px;
    height: 40px;
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}

.catalog-on-hover-item__top-link {
  text-align: center;
  text-decoration: none;
  width: 100%;
  display: block;
}

.catalog-item__pagination {
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.catalog-item__pagination-item {
  width: 10px;
  height: 10px;
  border: 1px solid var(--black);
  border-radius: 50%;
  &:not(:last-of-type) {
    margin-right: 8px;
  }
  &--active {
    border-color: var(--gold);
  }
}

.catalog-item__img {
  width: 100px;
  height: 100px;
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
  img {
    width: 100%;
  }
  @media (--xl) {
    width: 150px;
    height: 150px;
  }
}

.catalog-item__heading {
  @include rhythm(13,16);
  color: var(--black);
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  word-wrap: break-word;
  word-break: break-all;
  text-decoration: none;
  display: inline-block;
}

.catalog-item__desc-box {
  margin-bottom: 20px;
}

.catalog-item__desc-field {
  @include rhythm(13,13);
  &:not(:last-of-type) {
    margin-bottom: 7px;
  }
}

.catalog-item__prop {
  @extend .f-weight-light;
  margin-right: 3px;
}

.catalog-item__price {
  display: block;
  @include rhythm(18,18);
  text-transform: uppercase;
  & + .catalog-item__price {
    margin-top: 5px;
  }
  &--old-price {
    color: var(--red);
    text-decoration: line-through;
  }
  & + .catalog-item__rare {
    margin-top: 10px;
  }
}

.catalog-item__quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.catalog-item__quantity-prop {
  @include rhythm(13,13);
  @extend .f-weight-light;
  margin-right: 30px;
}

.catalog-item__rare {
  font-size: 0;
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 10;
  @media (--xl) {
    position: static;
  }
  .icon-text {
    display: none;
    @include rhythm(13,13);
    @extend .f-weight-light;
    @extend .f-style-italic;
    color: var(--gold);
    margin-right: 5px;
    @media (--xl) {
      display: initial;
    }
  }
  .icon-diamond {
    vertical-align: bottom;
  }

  svg {
    fill: var(--gold);
  }
}
//End core styles

//Mods

//End mods

//Media queries
  //Core styles

  //End core styles

  //Mods

  //End mods
//End media queries
