<div data-target="header.mobileMenu" class="mobile-menu">
  <div data-action="click->header#onMobileMenuExitCross" class="btn-cross"></div>
  <div class="mobile-menu__inner">
    <nav class="nav nav--vertical nav--big">
      <a href="main.html" class="nav__item link">Главная</a>
      <a href="catalog.html" class="nav__item link">Каталог</a>
      <a href="aboutus.html" class="nav__item link">О нас</a>
      <a href="purchase.html" class="nav__item link">Покупка</a>
      <a href="contacts.html" class="nav__item link">Контакты</a>
      <a href="personalCabinetMyOrders.html" class="nav__item link">Личный кабинет</a>
      <a href="personalCabinetFavorites.html" class="nav__item link">Избранное</a>
    </nav>

    {% import 'components/forms/search.njk' as forms %}

    {{ forms.search('search-1') }}

    <div data-controller="lang-switcher" class="lang-switcher lang-switcher--center">
      <label class="lang-switcher__list-item">
          <input type="radio" name="3" class="lang-switcher__radio" checked="true">
          <span>Ru</span>
        </label>
      <label class="lang-switcher__list-item">
          <input type="radio" name="3" class="lang-switcher__radio">
          <span>Eng</span>
        </label>
    </div>
  </div>

</div>
