// App styles, imports etc...

@import-normalize;
@import "utils/vars.scss";
@import "utils/mixins.scss";
@import "utils/GUI.scss";
@import "utils/links.scss";
@import "utils/buttons.scss";
@import "utils/radiobuttons.scss";
@import "utils/resets.scss";
@import "utils/form/index.scss";


html,
body {
  font-weight: normal;
  font-family: var(--Lato), Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  &.menu-is-open {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
  margin: 0 auto;
  &--padding-off {
    padding-left: 0;
    padding-right: 0;
  }
}

.page__wrapper {
  position: relative;
  padding-top: 65px;
  width: 100%;
  min-height: 100%;
  @media (--xl) {
    padding-top: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .main {
      flex: 1;
    }
  }
}

.page__wrapper--black-content {
  .section-wrapper {
    .section-title {
      color: var(--black);
    }
  }
}

.section-wrapper {
  border-top: 1px solid transparent;
  .section-title {
    margin-bottom: 20px;
    text-align: center;
    @include rhythm(20, 20);
    color: var(--gold);
    @extend .f-weight-light;
    @media (--xl) {
      margin-bottom: 40px;
      @include rhythm(30, 30);
    }
  }
}

.section-wrapper--pdt {
  padding-top: 30px;
  @media (--xl) {
    padding-top: 50px;
  }
}

.section-wrapper--pdb {
  padding-bottom: 30px;
  @media (--xl) {
    padding-bottom: 50px;
  }
}

.section-wrapper--pdt-no-on-desktop {
  padding-top: 30px;
  @media (--m) {
    padding-top: 0;
  }
}

.section-wrapper--pdb-no-on-mobile {
  @media (--xl) {
    padding-bottom: 50px;
  }
}

.section-wrapper--gray-bg {
  background-color: var(--gray1);
}

.icon {
  text-indent: -99999px;
  display: inline-block;
}

.logo {
  text-decoration: none;
  background-image: url(../../images/content/icon-logo.svg);
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  display: inline-block;
  @media (--xl) {
    background-image: url(../../images/content/icon-logo--with-company-name.svg);
    width: 125px;
  }
  &--white {
    svg {
      fill: var(--white);
    }
  }
  &--gold {
    svg {
      fill: var(--gold);
    }
  }
  &--big {
    svg {
      width: 100px;
      height: 100px;
    }
  }
}

.socials {
  a {
    display: inline-block;
  }
  .sprite {
    width: 40px;
  }
}

.link-as-icon {
  text-decoration: none;
  svg {
    @include goldOnHover(icon);
  }
}

.alone-component {
  padding: 30px 30px;
  @media (--xl) {
    padding: 35px 100px;
  }
  .alone-component__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media (--xl) {
      flex-direction: row;
    }
  }

  p {
    @include rhythm(18, 18);
    @extend .f-weight-light;
  }

  .alone-component__side--left {
    margin-bottom: 30px;
    @media (--xl) {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}

.alone-component--bdt {
  border-top: 1px solid var(--gold);
}

.alone-component--bdb {
  border-bottom: 1px solid var(--gold);
}



// @import "components/_header";
// @import "components/_footer";
// @import "components/_burger";
// @import "components/_mobile-menu";
// @import "components/_navigation";
// @import "components/_lang-switcher";
// @import "components/_news";
@import "components/catalog/_index";
// @import "components/_stepper";
// @import "components/_tooltip";
// @import "components/_memo";
// @import "components/_catalog-carousel";
// @import "components/_modal";
// @import "components/_tabs";
// @import "components/_sales-rate";
// @import "components/_select";
// @import "components/_filter";
// @import "components/_pagination";
// @import "components/_in-row";
// @import "components/_basket";
// @import "components/_file-uploader";

// @import "pages/_main";
// @import "pages/_lib";
// @import "pages/_favorite";
// @import "pages/_catalogItemInner";
// @import "pages/_auth";
// @import "pages/_catalog";
// @import "pages/_contacts";
// @import "pages/_purchase";
// @import "pages/_aboutus";
// @import "pages/_basket";
// @import "pages/_personalCabinet";
// @import "pages/_news";
// @import "pages/_delivery";
// @import "pages/_payment";
// @import "pages/_purchase-rules";
// @import "pages/_content-page";
